@import './setup_style.css';
@import './board_style.css';
@import './floorview_style.css';
@import './main_style.css';

/* Base Theme Variables */
:root {
    --font-family: 'Inter', system-ui, sans-serif;
  
    /* Light Mode Defaults */
    --color-bg: #c7c2bc;
    --color-bg-alt: #e7e5e2;
    --color-panel: #acacac;
    --color-border: #f4f6f7;
    --color-accent-bg: #dbeafe; /* pale accent background for hovers */
    --color-text: #070707;
    --color-text-muted: #131313;
    --color-input-bg: #f9f9f9; /* light mode input background */
  
    --color-accent: #bbbaba;
    --color-accent-light: #133d25;
    --color-accent-dark: #dddcdc;
  
    --color-danger: #551111;
    --color-warning: #bd8102;
    --color-info: #2563eb;
  
    --shadow-sm: 0 1px 2px rgba(0,0,0,0.05);
    --shadow-md: 0 4px 6px rgba(0,0,0,0.1);
    --shadow-lg: 0 8px 16px rgba(0,0,0,0.15);
  }
  
  /* Dark Mode Overrides */
  :root[data-theme="dark"] {
    --color-bg: #161824;
    --color-bg-alt: #101422;
    --color-panel: #151826;
    --color-border: #2f4f3f;
    --color-text: #cac9c9;
    --color-text-muted: #9ca3af;
    --color-input-bg: #000000; /* dark mode input background */
  
    --color-accent: #4ade80;
    --color-accent-light: #86efac;
    --color-accent-dark: #14532d;
  
    --color-danger: #792828;
    --color-warning: #6b5a16;
    --color-info: #3b82f6;
  
    --shadow-sm: 0 1px 2px rgba(0,0,0,0.4);
    --shadow-md: 0 4px 6px rgba(0,0,0,0.5);
    --shadow-lg: 0 8px 16px rgba(0,0,0,0.6);
  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;



